@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('../moderator/css/reset.css');

body, html {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	height: 100%;
    width: 100%;
}

.wrapper {
	width: 1280px;
	height: 720px;
	position: relative;
}

.card {
	display: flex;
	position: absolute;
	/* 720p title-safe */
	bottom: 36px;
	left: 36px;

	width: 600px;
	max-height: 150px;
	background: #f30f55;
	color: white;
	border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
}

.card__name {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 10px;
	text-decoration: underline;
	line-height: 26px;
}

.card__image {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.card__details {
	width: 400px;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__description {
	line-height: 19px;
	overflow: hidden;
	text-overflow: ellipsis;
}
