@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('reset.css');

:root {
	--blue: #4E598C;
	--orange-light: #F9C784;
	--orange-med: #FCAF58;
	--orange-dark: #FF8C42;
	--box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}

body, html {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	height: 100%;
}

.moderator {
	width: 100%;
	height: 100%;
	display: flex;
}

.list-container {
	background-color: var(--blue);
	color: white;
	width: 25%;
	height: 100%;
	overflow: auto;
}

.list__item {
	margin: 10px 0;
	padding: 5px;
	border-bottom: 1px solid white;
}
.list__item.active {
	background-color: red;
}
.list__itemName {
	padding-bottom: 5px;
	font-size: 20px;
	cursor: pointer;
}

.info-container {
	padding: 10px;
	width: 75%;
	background-color: white;
}

.info__details {
	padding: 10px 0;
    border-bottom: 1px solid black;
}

.info__name {
	font-size: 26px;
	margin: 20px 0;
}

.info__item {
	margin: 5px 0;
}

.info__controls {
	margin-bottom: 20px;
}

h4 {
	margin: 20px 0;
    font-size: 22px;
}

.info__articles {
	margin: 20px 0;
}

.info__article {
	margin-bottom: 15px;
	font-size: 14px;
}

.info__articleHeader {
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0;
}

.info__articleLink {
	color: black;
	text-decoration: none;
}

button {
	padding: 10px;
	cursor: pointer;
	border: none;
    background: var(--blue);
    color: white;
    border-radius: 4px;
    font-size: 16px;
	box-shadow: var(--box-shadow);
	transition: box-shadow 0.5s ease;
}

button:hover {
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}
